<!DOCTYPE html>
<html lang="en" ng-app="RideApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FLEETSYNC</title>
   
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
     <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="mybody" data-spy="scroll" data-target=".navbar-fixed-top">

    
<div ng-controller="loginController">
   
  
    <!-- About Section -->
    <section id="options"  class="container content-section text-center">
        <div class="row"  >
            <div class="col-lg-8 col-lg-offset-2">
                <img src="img/logo.jpg" style="height:120px;width:320px;"><br></br>
                <p>Login</p>
                <form  ng-submit="logins(user);" validate>
                    
                    {{message}}<br>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Username</label>
                             <input type="text" class="form-control" name="username" ng-model="user.username"  required data-validation-required-message="Please enter your username.">
                        </div>
                    </div>


                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Password</label>
                            <input  type="password"class="form-control" name="password" ng-model="user.password"  required data-validation-required-message="Please enter your Password.">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <input type="checkbox" name="">Remember Me
                    <br></br>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button  type="submit" class="btn btn-primary">Login</button>
                    <br></br>
                    <a href="forgot.html">Forgot Password</a>
                    <hr>
                    <p>Don't have an account?</p> <a href="Signup.html">Sign Up</a>

                </form>
            </div>
        </div>
    </section>

    </div>

    <!-- Map Section -->
    

    <!-- Footer -->
  
    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
</div>
</body>

</html>
